In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

obj1 = pd.Series([1,2,3,4])

data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
            'year': [2000, 2001, 2002, 2001, 2002, 2003],
            'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

obj2 = pd.DataFrame(data, columns = ['state','pop'])
obj2['id'] = np.arange(6)
obj2['id']+=2
obj2

    state  pop  id
0    Ohio  1.5   2
1    Ohio  1.7   3
2    Ohio  3.6   4
3  Nevada  2.4   5
4  Nevada  2.9   6
5  Nevada  3.2   7